name: publish-ci-docker-image
on:
  push:
    branches: [ main ]
permissions:
  contents: read

jobs:
  publish-ci-docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
      - name: Login to GitHub Container Registry
        uses: docker/login-action@dd4fa0671be5250ee6f50aedf4cb05514abda2c7 # v1.14.1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build CI Docker image
        run: |
          docker build . -f Dockerfile.ci --tag ghcr.io/postgresml/pgcat-ci:latest
          docker run ghcr.io/postgresml/pgcat-ci:latest
          docker push ghcr.io/postgresml/pgcat-ci:latest
